body{
    margin: 0;
}
header {
   text-align: center;
    background: grey;
    height:10vh;
    
}
.boxes{
    display:flex;
    flex-direction: row;
    margin-top: 1vh;
    margin-top: 1vh;


}

.content-a{
   
 background: darkgreen;
 height: 75vh;
 width: 25vw;   
}
.content-b{
    background: green;
    height: 75vh;
    width: 50vw;  
}
.content-c{
    background-color: yellow;
    height: 75vh;
    width: 25vw;
  
}
footer{
    margin-top: 10px;
    background: grey;
    height: 13vh;
    margin-bottom: 0;
}
@media (max-width:475px) {
    .boxes{
        display: flex;
        flex-direction: column;
    }
    .content-a {
        height: 32vh;
        width: 100vw;
    }
    .content-b{
        height: 20vh;
        width: 100vw;

    }

    .content-c{
        height: 22vh;
        width: 100vw;
        margin-top: 0;
        align-self: flex-start;
    }
}
@media (min-width: 476px) and (max-width: 1024px) {
.boxes{
    flex-direction: column;
}
.content-a{
    height: 45vh;
    width: 100vw;

}
.content-b{
    height: 30vh;
    width: 50vw;

}
.content-c{
    height: 30vh;
    width: 50vw;
    order: 3;
    align-self: flex-end;
  margin-top: -30vh;
}
}