body{
    margin: 0;
}
header {
   text-align: center;
    background: grey;
    height:10vh;
    
}
.boxes{
    display:flex;
    flex-direction: column;


}

.content-a{
    margin-top: 10px;
 background: red;
 height: 50vh;
 width: 70vw;   
}
.content-b{
    background: orange;
    height: 50vh;
    width: 70vw;  
}
.content-c{
    background-color: yellow;
    height: 100vh;
    width: 30vw;
  
  margin-top: -100vh;
  order: 2;
  align-self: flex-end;
}
footer{
    margin-top: 10px;
    background: grey;
    height: 10ch;
}
@media (min-width: 476px) and (max-width: 1024px) {
    .header{
        height: 15vh;
    }
    .content-a{
        height: 40vh;
        width: 50vw;

    }
    .content-b{
        height: 40vh;
        width: 50vw;
    }
    .content-c{
        margin-top: -80vh;
        height: 80vh;
        width: 50vw;
    }
    }
@media (max-width:475px) {
  
    .content-a {
        height: 25vh;
        width: 100vw;
    }
    .content-b{
        height: 25vh;
        width: 100vw;
    }

    .content-c{
        height: 25vh;
        width: 100vw;
        margin-top: 0;
        align-self: flex-start;
    }
    footer{
        height: 13vh;
    }
}
